<head>
<style>
.posts {
    border-width: 5px;
    border-style: solid;
    padding: 10px;
    margin: 10px;
}
</style>
</head>

<div class ="container">
<input type="text" class="form-control" placeholder="Search Posts By Comment" ng-model="commentSearch">

<div ng-repeat="post in allPosts | filter: {comment: commentSearch}" class="posts col-md-6" ng-style="{color: setColor(post.color)}">
comment: {{post.comment}} <cancel></cancel>
      <div ng-style="{color: setColor(black)}">
     - <i> {{post.name}} </i>
      </div>
</div>
</div>

