  <h3>Pages</h3>
  <h3> Greetings Human, welcome to the Guest Page  </h3>
  <h4> (Please write a comment, enter your name, and hit submit) </h4>
  <hr>
  <h3> Submission Form </h3>
  <form method="POST" ng-submit="postComment()">
    Name: <input type="text" name="name" ng-model="post.name" placeholder="Name" />
    Comment: <textarea name = "comment" cols = "50" ng-model="post.comment" rows = "5" placeholder= "Write your comment here"></textarea>
    <button type="submit">Submit</button>
  </form>
  <hr>