<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
  <div ng-app="guestbook">
    <div ng-controller="MainController">
    <div ng-include = " 'navbar.html' "> </div>
    <input type="text" ng-model="scopeProperty"/>
    {{scopeProperty}}

    <div class="container content">
    </div>

    <ui-view> </ui-view>
    </div>

    <div id="footer" class="container text-muted">
      Michael Liou
    </div>
  </div>
  </div>
  </body>

    <script src="angular/angular.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"> </script>
    <script src="js/module.js"></script>
    <script src="js/controllers/mainCtrl.js"></script>
    <script src="js/controllers/postCtrl.js"></script>
    <script src="js/factories/postFactory.js"></script>
     <script src="js/directives/viewposts/post-state.js"></script>
     <script src="js/directives/submitform/submit-state.js"></script>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</html>