<!DOCTYPE html>
<html lang="en">
	<head>
		<title> {% block title %} Guestbook {% endblock %} </title>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    	<link href="/stylesheets/style.css" rel="stylesheet">
	</head>
	<body>
		<div class = "navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Guestbook</a>
				</div>
				<div id="nav-items" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/wiki/">index</a></li>
						<li><a href="/wiki/add">write</a></li>
					</ul>
				</div>
			</div>
		</div>