<div class="container">
<div class="row">
  <h3> Greetings Human, welcome to the Guest Page  </h3>
  <h4> (Please write a comment, enter your name, and hit submit) </h4>
</div>
  <hr>

<div class="row">
  <form method="POST" name="postForm" ng-submit="postComment()" class="form-horizontal">

  <div class="form-group">
   <label for="name" class="control-label col-md-2">Name:</label>
      <div class="col-md-10">
        <input type="text" name="nameForm" ng-model="post.name" placeholder="Name" required ng-maxlength="20" ng-minlength="1" ng-model-options="{ updateOn: 'mousedown blur' }"/>
          <p ng-show="postForm.nameForm.$error.minlength">Name is too short.</p>
          <p ng-show="postForm.nameForm.$error.maxlength">Name is too long.</p>
        <div ng-show="post.name" style="color:red;"> What's up "{{post.name}}" if that is your real name </div>
    </div>
  </div>

  <div class="form-group">
    <label for="comment" class="control-label col-md-2">Comment:</label>
      <div class="col-md-10">
        <textarea name = "comment" cols = "50" ng-model="post.comment" rows = "5" placeholder= "Write your comment here" ng-minlength="1" required ng-maxlength="200" ng-model="post.current">{{post.comment}}</textarea>
      </div>
  </div>





  <div class="form-group">
    <label for="color" class="control-label col-md-2"> Color: </label>
    <div class="col-md-10">
      <select name="color" ng-model="post.color">
      <option value="black"> Select Color </option>
      <option value="light blue"> Light Blue </option>
      <option value="purple"> Purple </option>
      <option value="pink"> Pink </option>
      <option value="ocean"> Ocean </option>
      <option value="forest green"> Forest Green </option>
      </select>
    </div>
  </div>

  <div class= "form-group">
    <div class="col-md-10 col-md-offset-2">
       <button ng-disabled="postForm.$invalid" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

  </form>
</div>

  <hr>
  <div class="row col-md-6">
  <h3> 5 Most Recent Posts </h3>
      <div ng-repeat="post in range(1,5, allPosts)" class="posts" ng-style="{color: setColor(post.color)}">
      comment: {{post.comment}} <cancel></cancel>
      <div ng-style="{color: setColor(black)}">
     - <i> {{post.name}} </i>
      </div>
      </div>
  </div>


  <hr>